--find-links https://download.pytorch.org/whl/cpu/torch_stable.html
torch==2.8.0+cpu
sentence-transformers
gunicorn
pymongo
fastapi
uvicorn[standard]
python-multipart
langchain
langchain_core
langchain_google_genai
langchain_community
python-dotenv
jq
pypdf
pydantic
sentence-transformers